<md-toolbar flex="none">
  <div class="md-toolbar-tools">
    <h2>
      <span>Add Request</span>
    </h2>
  </div>
  <md-tabs md-dynamic-height style="background: rgb(250,250,250) none repeat scroll 0% 0% !important;">
  <md-tab label="Add Request">
    <div class='md-padding' layout="row" layout-wrap>
      <md-card class = "login-card">
        <md-card-content layout = "column">
          <md-input-container>
            <label>Chef</label>
            <input ng-model="chefname" ng-readonly="true" required>
          </md-input-container>
          <md-input-container>
            <label>Budget</label>
            <input ng-model="budget" type="number" required>
          </md-input-container>
          <md-input-container >
            <label>Payment</label>
            <input ng-model="payment" type="number" required>
          </md-input-container>
          <md-input-container >
            <label>Cuisine</label>
            <md-select ng-model="cuisine" required>
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="cuisine in cuisines" ng-value="cuisine" ng-disabled="$index === -1">
                {{cuisine}}
              </md-option>
            </md-select>
          </md-input-container>
          <div flex-gt-sm class="date-picker-row" style="margin-top: 30px;">
            <label for="email" translate>Date</label>
            <md-datepicker ng-model="date" md-placeholder="Enter date" required></md-datepicker>
          </div>
          <md-button class="md-accent md-raised" ng-click = "submit()" >Submit Request!</md-button>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>
</md-tabs>
</md-toolbar>
