<div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 800px;">
        <md-card-content style="position:relative">
            <md-button class="md-icon-button close-button" ng-click="closeDialog();">
                <md-icon>close</md-icon>
            </md-button>
            <div><label>Rating: <input-stars max="5" ng-model="DialogCont.rating"></input-stars></label></div>
            <div><label>Review: <textarea ng-model="review" rows="5"></textarea></label></div>
            <md-button class="md-raised" ng-click="submit()" class="button">Submit</md-button>
        </md-card-content>
    </md-card>
</div>