<md-toolbar flex="none">
    <div class="md-toolbar-tools">
        <i id="icon" class="fa fa-cutlery nav-logo"></i>
        <span flex></span>
        <md-button ng-click="goToRequests()">Requests</md-button>
        <md-button class="md-accent md-raised" ng-click="goToProfile()">Profile</md-button>
        <md-button ng-click="logOut()">Log Out</md-button>
        <span class="flex-size"></span>
    </div>
</md-toolbar>
<div class="md-padding">
  <md-card class="chef-profile-card" ng-controller="ChefProfileController as dialogCtrl">
          <md-card-title>
            <md-card-title-media>
              <div ng-class="{'md-media-modal-xl':breakpoint > 1 , 'md-media-md':breakpoint === 1,'md-media-sm' :breakpoint === 0}">
                 <img ng-src="{{chef.profile_pic}}">
              </div>
            </md-card-title-media>
            
            <md-card-title-text style="margin-left: 10px">
              
              
              <span ng-class="{'md-display-1':breakpoint > 1 , 'md-headline':breakpoint <= 1}" style="position: relative;">
                  <span style="display: inline-block;">{{chef.name}}</span>
                  <div style="display: inline-block;" hide-sm hide-xs>
                    <input-stars class = "modal-total" style="margin-top: 0; margin-bottom: 0; margin-left: 10px !important;" max="5" ng-model="rating" readonly hide-sm hide-xs></input-stars>
                  </div>
              </span>
              <input-stars max="5" ng-model="rating" readonly hide-gt-sm></input-stars>
              <span class="md-subhead">{{chef.email}}</span>
              <span class="md-subhead">{{chef.cuisines.join(", ")}}</span>
              <p hide-sm hide-xs>{{(chef.description.length > 0) ? chef.description : "No Description"}}</p>
              
            </md-card-title-text>

            
          </md-card-title>
          <md-card-content>
            <p hide-gt-sm>{{(chef.description.length > 0) ? chef.description : "No Description"}}</p>
            <div layout="row" layout-align="center">
              <div id="sliding-carousel" style="width: 75%; text-align: center;" ng-cloak>
                <div class="slick-slide" ng-repeat="slide in chef.carousel">
                  <img ng-src="{{slide}}">
                </div>
              </div>
            </div>
            <br ng-hide="noreviews">
            <div layout="row" ng-hide="noreviews">
              <span ng-class="{'md-display-1':breakpoint > 1 , 'md-headline':breakpoint <= 1}" style="min-width: 100%;">Reviews</span>
            </div>
            <div layout="row" layout-align="center" ng-hide="noreviews">
              <md-virtual-repeat-container id="vertical-container" style="min-width: 85%">
                <div md-virtual-repeat="review in chef.reviews" class="repeated-item" flex>
                  <div layout="row">
                    <span ng-class="{'md-headline':breakpoint > 1 , 'md-subhead':breakpoint <= 1}" style="display: inline-block;">{{review.assignedUser}}</span>
                    <div style="display: inline-block;">
                      <input-stars class = "modal-user" style="margin-top: 0; margin-bottom: 0; margin-left: 10px !important;" max="5" ng-model="review.rating" readonly hide-sm hide-xs></input-stars>
                    </div>
                    
                  </div>
                  <input-stars max="5" ng-model="rating" readonly hide-gt-sm></input-stars>
                  <div layout="row">
                    <p class="md-subhead">{{review.review}}</p>
                  </div>
                </div>
              </md-virtual-repeat-container>
            </div>
            
          </md-card-content>
      </md-card>
</div>