<md-nav-bar md-selected-nav-item="curPage">
    <span flex></span>
    <md-nav-item md-nav-click="goToRequests()" name="requests">Requests</md-nav-item>
    <md-nav-item md-nav-click="goToProfile()" name="profile">Profile</md-nav-item>
    <md-nav-item md-nav-click="logOut()" name="log_out">Log Out</md-nav-item>
    <span class="flex-size"></span>
</md-nav-bar>
<div class="content">
    <md-toolbar flex="none">
        <md-tabs md-dynamic-height md-border-bottom style="background: rgb(250,250,250) none repeat scroll 0% 0% !important;">
            <md-tab label="Future Requests">
                <div class='md-padding' layout="row" layout-align="center none" layout-wrap>
                    <md-card style="width: 400px;" ng-repeat="request in pendingRequests">
                        <img src="{{request.user.profile_pic}}" class="md-card-image" alt="user avatar">
                        <md-card-content>
                            <h4>Requested By: {{request.user.name}}</h4>
                            <h4>Email: {{request.user.email}}</h4>
                            <div>Budget: ${{request.budget}}</div>
                            <div>Payment: ${{request.payment}}</div>
                            <div>Cuisine: {{request.cuisine}}</div>
                            <div>Date: {{request.dateString}}</div>
                            <div>Description: {{request.description}}</div>
                        </md-card-content>
                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button ng-click="acceptRequest(request);">Accept</md-button>
                            <md-button ng-click="rejectRequest(request);">Reject</md-button>
                        </div>
                    </md-card>
                </div>
            </md-tab>
            <md-tab label="Accepted Requests">
                <div class='md-padding' layout="row" layout-align="center none" layout-wrap>
                    <md-card style="width: 400px;" ng-repeat="request in acceptedRequests">
                        <img src="{{request.user.profile_pic}}" class="md-card-image" alt="user avatar">
                        <md-card-content>
                            <h4>Requested By: {{request.user.name}}</h4>
                            <h4>Email: {{request.user.email}}</h4>
                            <div>Budget: ${{request.budget}}</div>
                            <div>Payment: ${{request.payment}}</div>
                            <div>Cuisine: {{request.cuisine}}</div>
                            <div>Date: {{request.dateString}}</div>
                            <div>Description: {{request.description}}</div>
                        </md-card-content>
                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button ng-click="markPending(request);">Mark as Pending</md-button>
                            <md-button ng-click="rejectRequest(request);">Reject</md-button>
                        </div>
                    </md-card>
                </div>
            </md-tab>
        </md-tabs>
    </md-toolbar>
</div>