<div class="buttondemoBasicUsage">
  <md-content>
    <md-toolbar flex="none">
      <div class="md-toolbar-tools">
        <h2>
          <span>Local Chefs</span>
        </h2>
        <span flex>
        </span> 
        <md-button> Requests </md-button>
        <md-button> Edit Profile </md-button>
      </div>
    </md-toolbar>
    
  <div layout="row" layout-align="center" style="text-align: center;margin-top: 25px; margin-bottom: 10px;">
    <span class="md-display-3" flex>Local Stuff</span>
  </div>

  <div layout="row" layout-align="center" style="text-align: center;margin-top: 25px; margin-bottom: 10px;">
    <input type="text" id="search-filter">
  </div>

  <div layout="row" layout-align="center">
    <div layout="row" layout-wrap flex="100">
  <!-- style="width: calc(100% / 4 - 30px); margin: 15px; " -->
        <div layout="column" flex="25" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" ng-repeat="chef in chefs">
          <md-card>
            <md-card-title>
              <md-card-title-media>
                <div class="md-media-lg card-media"></div>
              </md-card-title-media>
              <md-card-title-text style="margin-left:10px;">
                <span class="md-headline">{{chef.name}}</span>
                <span class="md-subhead">{{chef.cuisines.join(", ")}}</span>
              </md-card-title-text>
              
            </md-card-title>
            <md-card-content>
              <p>{{(chef.description.length > 0) ? chef.description : "No Description"}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" ng-click="showDialog($event,$index);">
                <md-icon>open_in_new</md-icon>
              </md-button>
            </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>  
</div>

