<form>
    <md-card class="login-card">
        <md-card-content layout="column">
            <md-input-container>
                <label>Name</label>
                <input ng-model="user.name" type="text" required>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="text" required>
            </md-input-container>
            <md-input-container>
                <label>List of ZIP Codes (ex. 60089, 90210)</label>
                <input ng-model="user.location" ng-list="," type="text" required>
            </md-input-container>
            <md-input-container>
                <label>Profile Picture Link</label>
                <input ng-model="user.profile_pic" type="text">
            </md-input-container>
            <md-button class="md-accent md-raised" ng-click="submit()">Submit</md-button>
        </md-card-content>
        <div class = "error" ng-if="incorrect">
            {{displayText}}
        </div>
    </md-card>
</form>