<div class='md-padding' layout="row" layout-wrap>
	<md-card style = "max-width:600px; margin:0 auto;" flex = "40">
		<md-card-content layout = "column">
			<md-input-container>
				<label>Email</label>
				<input ng-model="email" required>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input type = "password" ng-model="password" type="email" required>
			<md-button class="md-accent md-raised" ng-click = "login()"> Submit </md-button>
		</md-card-content>
	</md-card>
</div>