<head>
	<style>
		body{
		  background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/cutting-board-background-login.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  position: relative;
		  height:100%;
		}
	</style>
</head>
	    <div layout = column layout-align = "center center">
			<div class = "vertical" layout = row layout-align="center center">
				<div class='md-padding' id = "buttons" layout=column>
					<md-button flex="30" class="md-primary md-raised" ng-click="userlogin()" style="margin-bottom: 20px;"> <div class="tolowercase" style="padding: 22px; font-size: 22px;"> I am a User </div> </md-button>
					<md-button flex="30" class="md-primary md-raised" ng-click="cheflogin()" style="margin-top:20px;"> <div class="tolowercase" style="padding:22px; font-size: 22px;"> I am a Chef </div> </md-button>
				</div>
				<div class='md-padding' id = "description" layout=column style="color:white;">
					<h1 style = "color:orange;">Want to Hire A Chef?</h1>
					<h3 style="width:75%;"> Find chefs near <u>you</u> at <u>your</u> price to come cook for <u>you</u>. Specify the time and budget and let them handle the rest. </h3>
					<div><i style = "color:orange;" class="material-icons">done</i><div class="icon-text">Search & discover fantastic chefs</div></div>
					<div><i style = "color:orange;" class="material-icons">done</i><div class="icon-text">Send requests to cook in your home</div></div>
					<div><i style = "color:orange;" class="material-icons">done</i><div class="icon-text">Enjoy a hassle-free personally cooked meal</div></div>
				</div>
			</div>
		</div>

