

<md-dialog aria-label="Mango (Fruit)">
  <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{user}} Hi</span>
              <span class="md-subhead">{{['Cuisine1', 'Cuisine2'].join(", ")}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-modal-xl card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            <div class="md-media-lg card-media"></div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ng-click="showAdvanced($event,$index)">
              <md-icon>open_in_new</md-icon>
            </md-button>
          </md-card-actions>
      </md-card>
</md-dialog>


