<div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 300px;" ng-repeat="request in requests">
        <img src="{{request.chef.profile_pic}}" class="md-card-image" alt="user avatar">
        <md-card-content>
            <h4>Chef: {{request.chef.name}}</h4>
            <h4>Email: {{request.chef.email}}</h4>
            <div>Budget: ${{request.budget}}</div>
            <div>Payment: ${{request.payment}}</div>
            <div>Cuisine: {{request.cuisine}}</div>
            <div>Date: {{request.dateString}}</div>
            <div>Description: {{request.description}}</div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Cancel Request</md-button>
        </div>
    </md-card>
</div>