npm-debug.log
.DS_Store
.sass-cache/

front_end/node_modules/
front_end/public/css/
front_end/public/js/
front_end/public/lib/

back_end/node_modules/
back_end/public/css/
back_end/public/js/
back_end/public/lib/

front_end/public/*~
front_end/public/partials/*~
front_end/source_js/*~
front_end/source_sass/*~
front_end/*~
