// Add any custom Sass & CSS here



.buttondemoBasicUsage section {
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }


.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; 
}

#search_filter{
  background: rgba(250,250,250,0.16);
  border: white solid 0px;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.1s linear all;
}


#search_filter:focus{
  background: rgba(250,250,250,0.9);
}

#search_label{
  left: 50px;
  color: rgba(0,0,0,0.32);
  position: absolute;
  top: 50%;
  transition: 0.1s linear all;
  transform: translateY(-50%);
}

#search_close{
  border-radius: 50%;
  color: rgba(0,0,0,0.32);
  position: absolute;
  top: 50%;
  transition: 0.1s linear all;
  transform: translateY(-50%);
}

#search_close:hover{
  cursor: pointer;
}

#search_container{
  padding-left: 40px;
  padding-right: 10px;
  position: relative;
}

#search_container {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}


#search_container.ng-hide-remove{
  opacity: 1;
}

#search_container.ng-hide-remove-active{
  opacity: 0;
}

.card-media {
  background-color: #999999; }

$card-padding: 16px !default;

md-card-title-media {
      margin-top: - $card-padding / 2;
      .md-media-modal-xl {
        height: 288px;
        width: 288px;
      }
    }


