@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

section {
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }


section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; 
}

/*#search_filter{
  background: rgba(250,250,250,0.16);
  border: white solid 0px;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 10px;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.1s linear all;
}


#search_filter:focus{
  background: rgba(250,250,250,0.9);
}

#search_label{
  left: 50px;
  color: rgba(0,0,0,0.32);
  position: absolute;
  top: 50%;
  transition: 0.1s linear all;
  transform: translateY(-50%);
}

#search_close{
  border-radius: 50%;
  color: rgba(0,0,0,0.32);
  position: absolute;
  top: 50%;
  transition: 0.1s linear all;
  transform: translateY(-50%);
}

#search_close:hover{
  cursor: pointer;
}

#search_container{
  padding-left: 40px;
  padding-right: 10px;
  position: relative;
}

#search_label, #search_filter {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}


#search_label.ng-hide-add-active, #search_filter.ng-hide-add-active{ 
  opacity: 1;
}

#search_label.ng-hide-add, #search_filter.ng-hide-add{
  opacity: 0;
  display:block !important;
}
*/
.card-media {
  background-color: #999999; }

md-card-title {
    flex: none !important;
    overflow: hidden;
}

$card-padding: 16px !default;

md-card-title-media {
      margin-top: - $card-padding / 2;
      .md-media-modal-xl {
        height: 180px;
        width: 180px;
      }
    }

/*$acct_icn_size: 40px;
$acct_icn_holder_size: 60px;

#acct_icn{
  font-size: $acct_icn_size;
  width: $acct_icn_size;
  height: $acct_icn_size;
}

#acct_icn_holder{
  width: $acct_icn_holder_size;
  height: $acct_icn_holder_size;
}*/



.css-class-add, .css-class-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-class,
.css-class-add.css-class-add-active {
  color: red;
  font-size:3em;
}

.css-class-remove.css-class-remove-active {
  font-size:1.0em;
  color: black;
}

.modal-buttons{
  position: absolute;
  top:10px;
  right: 10px;
}

.modal-total-rating{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.modal-user-rating{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.modal-total-rating > li{
  font-size: 25px !important;
}

.modal-user-rating > li{
  font-size: 15px !important;
}

.slick-prev:before, .slick-next:before { 
    color:gray !important;
    //font-family: FontAwesome;
    //content: "\f015"
}

.slick-slide {
    height:200px !important;
    text-align: center;
}

.slick-slide > img {
    max-height:200px;
    max-width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#vertical-container {
  height: 450px;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: auto;
  padding-top: 10px; 
  padding-bottom: 5px;
  
  }

.md-card-image {
    display: block;
    width: auto;
    margin: auto;
    height: 200px;
}



.angular-input-stars, textarea {

    width: 100%;
}

.angular-input-stars > li, .angular-input-stars > li > i.readonly{
  cursor: default !important;
}

.vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height:200px;
}

#buttons {
  border-right:thick double black;
  padding: 70px 70px 70px 0px;
  float:left;
  .md-button
  {
    font-size:20px;
  }
}

#description{
  font-size:20px;
  padding:30px;
}

md-input-container {
  margin: 5px 0;
}

.login-card
{
  max-width: 600px;
  margin: 0 auto;
  flex: 1 1 40%;
}

.error
{
  padding:15px;
  background-color: #E74C3C;
  color: white;
  margin:10px auto;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

md-nav-bar
{
    margin-bottom: 0;
}

.date-picker-row {
    margin-left: -15px;
    position: relative;
    min-height: 60px;
}

.date-picker-row label {
    position: absolute;
    top: -12px;
    left: 50px;
    color: rgba(0, 0, 0, 0.541176);
    font-size: 16px;
}

.date-picker-row .md-datepicker-input-container {
    margin-left: 0;
}
